<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="shortcut icon" type="image/x-icon" href="/tm.ico">
<link href="/css/app.css?0c3c5df251fd33bcbc69" rel="stylesheet"></head>

<body>
  <div id="app"></div>
  <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.2/vue-router.min.js"></script>
  <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript" src="/js/manifest.0c3c5df251fd33bcbc69.js?0c3c5df251fd33bcbc69"></script><script type="text/javascript" src="/js/app.0c3c5df251fd33bcbc69.js?0c3c5df251fd33bcbc69"></script></body>

</html>
